/*------------------------------------------------------------
  Base Style
------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

/*making font-sizes base 10*/
html {  
 
  width: 100%;   
 
  box-sizing: border-box;
  font-size: 62.5%;
    
  background-color: $grey-color;
  
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
    
  padding: 0;
  margin: 0;

}

/*setting up font sizes and base font family*/
body {
  minheight: 100%;
  width: 100%;

  padding: 0;
  margin: 0;
  
  background:black  url('../assets/hero.jpg') ;
  background-repeat: no-repeat;
    
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.outer{
    height: 100%;
  width: 100%;
    
    background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, $grey-color 100%);   /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,$grey-color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,$grey-color 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%,$grey-color 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,$grey-color 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,$grey-color 100%); /* W3C */
 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#825b00',GradientType=0 ); /* IE6-9 */
}


.link-separator{
  margin-top: 30px;
  margin-bottom: 0px;
}

.link-button{
  margin-top:2rem;
  max-width: 4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem; 
}

.links{
  margin-top: 0px;
}

.links > a{
  max-height: 50px;
  text-decoration: none;
  transition: max-width 1000ms;
}

.links > a > img:hover{
  max-width: 4.5rem;
  margin-top: 1rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.links{
  text-align: center;
  margin-bottom: 0px;
}

.img-half-width-right{
  width:50%;
  float:right;
  border-radius: 20px;
}

.post-content > p{
  margin-top:10px !important;
  margin-bottom:10px !important;
  font-size: 1.65rem;
}

body{
  font-family: 'Ubuntu';
}

.img-half-width-center{
  max-width:50%;
  margin-left: 25%;
  border-radius: 20px;
}

.img-half-width-left{
  max-width:50%;
  float:left;
  border-radius: 20px;
}

.img-23half-width-center{
  max-width:75%;
  margin-left: 12%;
  border-radius: 20px;
}

h5{
  margin-top:2rem;
  margin-bottom: 2rem;
}

ul{
  list-style:circle;
}